#############
## Python
#############

.idea/

*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

*~
djnetaxept.svg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

